Final Term-Assignment-1/hotels.dtd

<!DOCTYPE hotels>[
<!ELEMENT hotels(hotel*)>
<!ELEMENT hotel(id,name,stars,facilities,address,distance?,available)>
<!ELEMENT id(#PCDATA)>
<!ELEMENT name(#PCDATA)>
<!ELEMENT stars("1" | "2" | "3" | "4" | "5")>
<!ELEMENT facilities(facilityName+)>
<!ELEMENT facilityName("Internet"|"Gym"|"Parking"|"Restaurant"|"Pickup-Drop")>
<!ELEMENT address(#PCDATA)>
<!ELEMENT distance(#PCDATA)>
<!ELEMENT available("True" | "False")>
